<form id="github-search" method="get" action="https://api.github.com/search/repositories" >
  Enter your query: <input name="q" type="text">
  <input value="submit this" type="submit">
  <div id="github-search-stuff">
    <script id="search-results" type="text/x-handlebars-template">
      <div>
        {{#each this}}
          <div class="row" style>
            <div class="col-md-12">
              <h2><a href={{'html_url'}}>{{"full_name"}}</a></h2>
              <p>{{'size'}} KB</p>
              <p>Star Count: {{'stargazers_count'}}</p>
              <p>Fork Count: {{'fork_count'}}</p>
            </div>
          </div>
        {{/each}}
      </div>
    </script>
  </div>

</form>

