<form id="github-search" method="get" action="/plans/new" >
  Enter your topic: <input name="topic" type="text"><br>
  Enter your language: <input name="language" type="text"><br>
  <input value="submit this" type="submit">
  <div id="github-search-stuff">
  </div>

</form>

