
#prev_cards_box {
  display: none;
}

#prev_cards_hide_button {
  display: none;
}

#sendgrid_form {
  display: none;
}

#twilio_form {
  display: none;
}

#spinny_div {
  display: none;
}

#spinny_div i {
  margin: 0 auto;
}
