 <div class="row">
    <form method="post" action="/plans/email">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="example@example.com" id="email" type="text" class="validate">
          <label for="email">eMail to:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="subject" type="text" class="validate">
          <label for="subject">Email Subject:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="body" type="text" class="validate">
          <label for="body">Email Body:</label>
        </div>
      </div>
    </form>
  </div>
