<h2 class="paytone-one">Your Plans</h2>

<br>

  <div class="collection with-header">
    <% @plans.each do |plan| %>
     <%= link_to plan.name, plan_path(plan), class: "collection-item" %>
    <% end %>
  </div>

<br><br>

  <%= form_tag(new_plan_path(@plan), :method => :get) do %>
    <%= button_tag( :class => "btn waves-effect waves-light") do %>
      Create New Plan <i class="material-icons right"></i>
    <% end %>
  <% end %>

<br>
